/* Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #daa520;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

header {
    background-image: url(/assets/images/crypto-home-slider-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    color: #daa520;
    padding-top: 2em;
    margin: 0 2em;
}
nav a {
    color: #daa520;
    text-decoration: none;
    font-size: 1.5em;
}
nav a span {
    color:aliceblue
}
nav ul {
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
    
}
nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 0 1.5em;
}
nav ul li a {
    text-decoration: none;
    color: #daa520;
}

h1 {
    margin: 0;
    font-size: 4em;
    color: #fff;
    letter-spacing: 6px;
    word-spacing: 3px;
}
/* .logo {
    position: absolute;
    top: 1.2em;
    font-size: 1.8em;
    font-weight: 500;
}
.row > a {
    text-decoration: none;
    color: #AEB5CE;
    margin-left: 1.2em;
}
.row > a > span {
    color: #daa520;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 3em;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}
.main-nav li a {
    color: #daa520;
    text-decoration: none;
    font-size: 90%;
} */
.main-section {
    display: flex;
    margin-top: 4em;
}
.main-section h6 {
    color: #fff;
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.text-box {
    position: absolute;
    top: 25em;
    left: 5em;
    font-size: 70%;

}
.blockchainimage img {
    position: absolute;
    width: 500px;
    top: 20%;
    left: 50%;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    background-color: #daa520;
    color: #002352;
    text-decoration: none;
    margin-top: 2em;
}
.button:hover {
    background-color: #fff;
}
.coins {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.coins .coin-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 5px;
    margin: 2rem;
}
.coins .coin-price .log {
    width: 2em;
    margin-right: 0.5em;
}
.coins .coin-price .log img {
    width: 100%;
}
.coins .coin-price  div h1 {
    font-size: 20px;
    color: black;
}

section {
    background-image: url(/assets/images/crypto-home-tech-bg.png);
    background-size: contain;
    background-position: right;
    height: 50vh;
}
.converter-illustration img {
    margin: 0;
}
.currency-converter {
    display: flex;
    justify-content: space-evenly;

}
.converter {
    margin-top: 1em;
}
.converter h2 {
    padding: 1em;
}
section h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
input, select {
    width: 250px;
    height: 30px;
    border: 1px solid lightblue;
    outline: none;
}
select {
    width: 100px;
    margin-left: 10px;
}
main span {
    color: #daa520;
    font-size: 2em;
    font-weight: 900;
}
main {
    display: flex;
}
.About {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    text-align: center; 
}
.About h1 {
    color: #002352;
    font-size: 40px;
}