/* Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
html {
    color: #daa520;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

header {
    /* background-image: url(/assets/images/crypto-home-slider-bg.png); */
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    color: #daa520;
    padding-top: 2em;
    margin: 0 2em;
}
nav a {
    color: #daa520;
    text-decoration: none;
    font-size: 1.5em;
}
nav a span {
    color:aliceblue
}
nav ul {
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
    
}
nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 0 1.5em;
}
nav ul li a {
    text-decoration: none;
    color: #daa520;
}
nav ul li a:hover {
    text-decoration: underline;
    transition: 3s;    
  
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

h1 {
    margin: 0;
    font-size: 4em;
    color: #fff;
    letter-spacing: 6px;
    word-spacing: 3px;
}

.main-section {
    display: flex;
    margin-top: 4em;
    margin-right: 4em;
}
.main-section h6 {
    color: #fff;
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.text-box {
    position: absolute;
    top: 30em;
    left: 18em;
    font-size: 80%;

}
.blockchainimage img {
    position: absolute;
    width: 500px;
    top: 35%;
    left: 58%;
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}
.blockchainimage:hover img {
    transform: scale(1.3) rotate(5deg);
}

.button {
    display: inline-block;
    padding: 15px 35px;
    font-weight: 700;
    background-color: #daa520;
    color: #002352;
    text-decoration: none;
    margin-top: 2em;
}
.button:hover {
    background-color: #fff;
}
.coins {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.coins .coin-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    margin: 0 30px;
}
.coins .coin-price .log {
    width: 2rem;
    margin-right: 0.5em;
}
.coins .coin-price .log img {
    width: 100%;
}
.coins .coin-price  div h1 {
    font-size: 20px;
    color: black;
}

section {
    /* background-image: url(/assets/images/crypto-home-tech-bg.png); */
    background-size: contain;
    background-position: right;
    height: 50vh;
}
.converter-illustration img {
    margin: 0;
}
.currency-converter {
    display: flex;
    justify-content: space-evenly;

}
.converter {
    margin-top: 1em;
}
.converter h2 {
    padding: 1em;
}
section h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
input, select {
    width: 250px;
    height: 30px;
    border: 1px solid lightblue;
    outline: none;
}
select {
    width: 100px;
    margin-left: 10px;
}
main span {
    color: #daa520;
    font-size: 2em;
    font-weight: 900;
}
main {
    display: flex;
}
.about-illustration {
    margin-right: 2em;
}
.About {
    width: 100%;
    max-width: 500px;
    margin: 100px 150px;
    text-align: center; 
}
.About h1 {
    color: #002352;
    font-size: 40px;
}
.About p {
    color: #002352;
    text-align: center;
}
hr {
    color: #002352;
    width: 80%;
    margin: 2em auto;
}
.app {
    /* background-image: url(/assets/images/crypto-woman-with-coin.png); */
    background-size: cover;
    width: auto;
    height: 50vh;
}

.download-app {
    width: 40%;
    position: absolute;
    left: 60%;
    margin-top: 3em;
    margin-right: 3em;

}

.download-app h1 {
    color: #002352;
    padding-top: 1em;
}
footer {
    /* background-image: url(/assets/images/crypto-footer-bg.png); */
    height: 18vh;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer .row {
    margin: 0 1.5em;
}
.footer-nav {
    list-style: none;
    float: left;
    margin-top: 1.5em;
}
.social-links {
    list-style: none;
    float: right;
    margin-top: 1.5em;
}
.footer-nav li, 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
footer a:hover {
    color: #daa520;
    transition: 0.3s;
}
footer p {
    text-align: center;
    margin-top: 50px;
    font-size: 90%;
}

